# Ignorar la carpeta de distribución
dist/
build/

# Ignorar la información del paquete generado
*.egg-info/
.eggs/

# Ignorar archivos de Python bytecode
__pycache__/
*.py[cod]

# Ignorar entornos virtuales
.venv/
env/

# Ignorar configuraciones de editor y sistema operativo
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
